body { margin: 0; color: #15171A; font-family: Arial, Helvetica, sans-serif; }

a { color: Gray; text-decoration: none; }
a:hover { color: Red; }

body.SandyBrown { background-color: SandyBrown; }
body.SpringGreen { background-color: SpringGreen; }
body.Silver { background-color: Silver; }
body.LightSkyBlue { background-color: LightSkyBlue; }

td.SandyBrown { width: 25%; background-color: sandybrown; border-radius: 30px; cursor: pointer; }
td.SpringGreen { width: 25%; background-color: SpringGreen; border-radius: 30px; cursor: pointer; }
td.Silver { width: 25%; background-color: Silver;  border-radius: 30px; cursor: pointer; }
td.LightSkyBlue { width: 25%; background-color: LightSkyBlue; border-radius: 30px; cursor: pointer; }

img.restricted { max-width: 100%; max-height: 100%; }

.darkglass {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
}

.popup {
    margin: 5% 35%;
    width: 30%;
    height: 40%;
    padding: 2%;
    background-color: OldLace;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
